<h2>Here are the subdomains registered for GH user <%= params[:user_id] %>:</h2>

<% current_user.subdomains.each do |s| %>
  <p><%= s.subdomain %></p>
<% end %>

<div>
  <p><%= link_to "Register a new subdomain", new_user_subdomain_path(current_user) %></p>
</div>
